<!DOCTYPE HTML>
<html>
<head>
    <title>Todo list</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
          integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <h1 class="mb-3">Connect with your name</h1>
    <div class="w-100 justify-content-center mt-2">
        <form method="post" action="/login">
            <div class="d-flex">
                <input type="text" name="name" placeholder="Your name" class="form-control">
                <button class="float-right ml-2 btn btn-primary">Login</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
